<div id='header'>
    <h1>There will be something here one day!</h1>

    <p>Enter url to scrape (everything after the .com)</p>
    <input id = 'url' type="text" name="scrapeUrl" value="">
    <button id='loadButton' type="button" name="button">Scrape Wiki</button>
</div>

<div id="view">
</div>

<script src="/public/js/scrape.js" charset="utf-8"></script>

<script>

    var fullObj = {};

    $('#loadButton').on('click', function() {
        console.clear();

        var url = $('#url').val()

        var monsterProm = visitMonsterPage(url,fullObj);

        monsterProm.then((monster) => {
            console.log(monster);
            monsterKey = monster.family + '_(' + monster.type + ')';
            fullObj[monsterKey] = monster;
        });

        console.log(fullObj);
    });
</script>
